.userForm {
  display: flex;
  justify-content: center;
}

.userForm__container {
  max-width: 1050px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.userForm__form {
  padding: 40px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 67vw;
  padding-bottom: 10px;
}
.userForm__row {
  display: flex;
  align-items: center;
}
.userForm__row > label {
  width: 100px;
}

.userForm__row > input {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(160, 159, 159);
  margin-bottom: 0.5rem;
  width: 200px;
  font-size: 1rem;
  outline-width: 0;
}

.userForm__email {
  padding: 0.5rem 0;

  margin-bottom: 0.5rem;
  width: 300px;

  font-size: 1rem;
}

.userForm__buttons {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-evenly;
}

.userForm__buttons > button {
  margin-right: 20px;
}

.userForm__deleteUser {
  width: 180px;
  background: transparent;
  border: none;
  color: rgb(247, 0, 0);
  cursor: pointer;
}

/* user delete modal */

.userDeleteModal__box {
  border: none !important;
  border-radius: 10px !important;
  box-shadow: 10px 10px 10px rgb(141, 140, 140) !important;
}

.userDeleteModal__buttons {
  display: flex;
  justify-content: space-evenly;
}
/* 
@media screen and (min-width: 765px) {
  .userForm__form {
    margin: 5% 30%;
  }
  .userForm__row > input {
    width: 350px;
  }
} */
