.users {
  background-color: var(--background-color);
  padding: 20px;
  display: flex;
  justify-content: center;
}

.users__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1050px;
  background:white;
}
.users__button {
  /* padding: 0.3rem; */
  border-radius: 0.3rem;
  outline-width: 0;
  border: 1.5px solid rgb(223, 222, 222);
  background: white;
  margin-right: 1.5rem;
  width: 100px;
  font-weight: 500;
  color: rgb(43, 42, 42);
  cursor: pointer;
}
.users__button:focus {
  background: rgb(226, 53, 53);
  color: white;
  border: none;
  font-weight: 600;
}

.users__buttonExcel {
  width: 120px;
}

/* Users Header */
.usersHeader {

  display: flex;
  flex-direction:column;

}
.usersHeader__title{
    font-size:var(--container-title-size);
   padding:1.2rem 0 1.2rem 2rem;
  border-bottom:var(--border-bottom);
  


}

.usersHeader__search{

  align-self:end;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:0.8rem;


}
.usersHeader__button {
  display: flex;
  align-items:center;
  
}

.usersHeader__links,
.usersFilter__roles {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.usersHeader__searchForm {
  display: flex;
  align-items:center;
  margin-right: 12px;
  border:none;
}

.usersHeader__searchForm > input {
  padding: 10px;
  flex: 1;
  border-radius: 6px;
  border: none;
  padding-left: 20px;
  font-size: 0.9rem;
  outline: none;
  border-radius:20px;
  color:rgb(0, 0, 0);
  border:1px solid rgb(226, 226, 226);

}

.usersHeader__searchForm > input:focus{
  border:1px solid rgb(154, 193, 240);
  box-shadow:2px 2px 2px 2px rgb(154, 193, 240);
}

.usersHeader__searchForm > button {
  border: transparent;
  background: transparent;
  width: 30px;
  color: rgb(143, 143, 143);
  cursor: pointer;
  font-size: 1.1rem;
}

.usersHeader__addButton,
.usersHeader__searchButton {

  margin-right: 15px;
  cursor: pointer;
 
}

.usersList__list {
  padding-top: 2rem;
}

a {
  text-decoration: none;
}

.usersList__fullName {
  color: black;
}
.MuiTableCell-sizeSmall {
  padding: 10px !important;
}

/* Users filter */

.usersFilter {
  margin-left: 1.5rem;
}

.usersFilter__filter {
  display: flex;
}

.usersFilter__viewBy {
  margin-right: 1rem;
}

.usersFilter__search {
  border: 1px solid rgb(221, 221, 221);
  width: 70%;
  margin: 0 10%;
  margin-top: 5%;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}

.usersFilter__search > input {
  border: none;
  padding: 0.6rem;
  padding-left: 0.4rem;
  font-size: 1rem;
  outline-width: 0;
  width: 85%;
}

.usersFilter__searchIcon {
  font-size: 1.5rem !important;
  color: rgb(170, 170, 170);
  margin-left: 0.5rem;
}

/* New user form */

.newUserForm {
  display: flex;
  justify-content: center;
  height:80vh;
}

.newUserForm__container {
  width: 100vw;
  max-width: 1050px;
  display: flex;
  flex-direction: column;
  background: white;
  
}

.newUserForm__header {
  border-bottom: 2px solid rgb(226, 226, 226);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
a:focus {
  outline: none;
}

.newUserForm__title {
  text-align: center;
}

.newUserForm__backButton {
  padding: 0.3rem;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
}
.newUserForm__previousButton {
  font-size: 2.5rem !important;
  cursor: pointer;
}

.newUserForm {
  width: 100%;
}

.newUserForm__form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  padding-bottom:0;
  align-items: center;
 
}

.newUserForm__form > input {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(160, 159, 159);
  margin-bottom: 0.5rem;
  width: 260px;
  font-size: 1rem;
  outline-width: 0;
}

.newUserForm__form > button {
  width: 130px;
  margin-top: 1.5rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(172, 171, 171);
  background: #3ea4fb;
  outline-width: 0;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  border: none;
}

.newUserForm__info {
  text-align: center;
}
.newUserForm__link {
  display: inline-block;
  color: rgb(14, 14, 14);
  font-weight: 600;
}

/* User Transaction */

.userTransaction__tableHead {
  color: rgb(103, 39, 39) !important;
  font-weight: 600 !important;
  font-size: 0.8rem !important;

  padding: 8px !important;
}

.userTransaction__tablebody {
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.userTransaction__tablebody > tr > td {
  padding: 5px !important;
}

.userTransaction__order {
  margin: 10px 10px;
  float: right;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  background: rgb(128, 198, 128);

  font-size: 0.8rem;
}
/* user order detail */
.userOrderDetail__mainRow {
  background: rgb(237, 237, 237) !important;
}

/* User order detail */

.userOrderDetail {
  display: flex;
  justify-content: center;
}

.userOrderDetail__container {
  width: 100vw;
  max-width: 1050px;
}

.userOrderDetail__mainRow :nth-child(1) {
  cursor: pointer;
}

.userOrderDetail {
  height: 100%;

  background-color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 1.3rem;
}

.userOrderDetail__back {
  padding: 10px;
  margin-bottom: 50px;
  display: flex;

  align-items: center;
}

.userOrderDetail__back > p {
  text-transform: capitalize;
  font-size: 1rem;
  padding: 10px;
  color: blue;
  cursor: pointer;
}


/* Users list */



.usersList__tableContainer>table>tbody >tr:hover{
  background:rgb(228, 228, 228) !important;
  
}