.boxModal {
  padding: 30px;
  padding-left:45px;
  padding-bottom:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 250px;
  background: white;
  float: right;
  margin-top: 75px;
  border: 1px solid rgba(172, 167, 167, 0.5);
  margin-right: 15px;
  box-shadow: 3px 3px 3px rgb(182, 180, 180);
  border-radius: 5px;
}

.boxModal__avatar {
  height: 3rem !important;
  width: 3rem !important;
  color: rgb(255, 255, 255) !important;
  font-size: 1.5rem !important;
  margin-bottom: 30px;
  background: #3ea4fb !important;
  margin-top:10px;
}

.boxModal > p {
  text-align: center;
  margin: 0;
}

.boxModal > p:nth-child(2) {
  text-transform: capitalize;
  margin-bottom: 5px;

  font-weight: 600;
}
.boxModal__name{
  font-size:1rem;
  /* color:white; */
}

.boxModal__email{
  font-size:0.7rem;
  font-weight:600;
  padding:0.4rem;
  border-radius:10px;
  color:#3ea4fb;

}


.boxModal__profileEdit {
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  color: white;
  background: #3ea4fb;;
  border-radius:10px;
  cursor:pointer;
  margin-top:30px;
}

/* .boxModal__profileEdit:hover {
  background: black;
  border-radius: 10px;
  color: white;
} */
