.boxModal {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  background: white;
  float: right;
  margin-top: 55px;
  border: 1px solid rgba(172, 167, 167, 0.5);
  margin-right: 15px;
  box-shadow: 3px 3px 3px rgb(182, 180, 180);
  border-radius: 5px;
}

.boxModal__avatar {
  height: 4rem !important;
  width: 4rem !important;
  color: rgb(255, 255, 255) !important;
  font-size: 2rem !important;
  margin-bottom: 30px;
  background: rgb(27, 88, 240) !important;
}

.boxModal > p {
  text-align: center;
  margin: 0;
}

.boxModal > p:nth-child(2) {
  text-transform: capitalize;
  margin-bottom: 5px;
  color: blue;
  font-weight: 600;
}
.boxModal > p:nth-child(3) {
  margin-bottom: 20px;
}

.boxModal__profileEdit {
  padding: 5px;
  cursor: pointer;
  color: red;
}

.boxModal__profileEdit:hover {
  background: black;
  border-radius: 10px;
  color: white;
}
