.profile {
  display: flex;
  justify-content: center;
}

.profile__container {
  max-width: 1050px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.profile__title {
  text-transform: capitalize;
}

.profile__form {
  padding: 40px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 67vw;
  padding-bottom: 10px;
}
.profile__row {
  display: flex;
  align-items: center;
}

.profile__row > label {
  width: 100px;
}
.profile__row > input {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(160, 159, 159);
  margin-bottom: 0.5rem;
  width: 200px;
  font-size: 1rem;
  outline-width: 0;
}

.profile__email {
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  width: 300px;
  font-size: 1rem;
}

.profile__form > button {
  width: 100px;

  margin-top: 1.5rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(172, 171, 171);
  background: #3ea4fb;
  outline-width: 0;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  border: none;
}

.profile__roleValue {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 200px;
  font-size: 1rem;
}
