.sidebar {
  background: rgb(255, 255, 255);
  z-index: 1000;
  flex: 1;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: 500ms;
  left: 0;
  box-shadow: 2px 0px 10px rgb(208, 208, 208);
}

.sidebar__cancel {
position:absolute;
  padding: 0 5px;
  top:-15px;right:0;

  font-size: 1rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 3px;
  background:rgb(255,131,6);
  border: 1px solid rgb(255,131,6);
}

.sidebar__cancel:hover{
  background:rgb(39, 39, 39);
  color:rgb(255, 255, 255);
  border:1px solid white;
}

.sidebar__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar__hide {
  margin-left: -100%;
  transition: all 850ms linear;
}

.sidebar__header {
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 1.3rem;
  height:80px;
  background:rgb(235,235,235);
 
}

.sidebar__header > .MuiAvatar-root {
  padding: 5px;

  font-size: 1rem !important;
}
.sidebar__title {
  display:flex;
  padding: 10px;
}


.sidebar__title p:nth-child(1){
  margin-right:8px;

  color:rgb(255,131,6);
}

.sidebar__title p:nth-child(2){
  font-weight:800;
}

.sidebar__header > .MuiAvatar-colorDefault {
  background-color: rgb(255,131,6) !important;
}

/* Links */
.sidebar__links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar__eachLink {
  display: flex;
  padding:0.2rem;
  padding-left:1.5rem;

  align-items: center;
  font-size: 1.2rem;

  cursor: pointer;
}

.sidebar__eachLink:hover{
  color:rgb(255,131,6);
}

.sidebar__eachLink:focus {
  color:rgb(255,131,6);

  border-radius: 10px;
  color: white;
}

.sidebar__icon {
  margin-right: 20px;

}

@media only screen and (max-width: 600px) {
  .sidebar__wrapper {
    padding: 1rem;
  }
}
