.dashboard {
  display: flex;
  justify-content: center;

}

.dashboard__container {
  width: 100vw;
  max-width: 1050px;
}

.dashboard__wrapper {
  padding: 20px;
  overflow-x: auto;
}



.dashboard__records {
  padding: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  row-gap: 20px;
  column-gap: 30px;

  margin-bottom: 30px;
}

.dashboard__record {

  padding:5px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items:space-between;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(208, 208, 208);
}

.dashboard__recordLabel{
  display:flex;
  align-items:center;
  padding-left:1rem;

}

.dashboard__recordLabel >p{
  margin-left:20px;
  font-size:1.4rem;
  font-weight:700;
}

.dashboard__value {
  font-size: 1rem;
  margin-top:0;
  padding-left:2.5rem;
  font-size: 1.6rem;
  font-weight: 800;
}



.dashboard__lowerSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  row-gap: 20px;
  column-gap: 20px;
}

/* dashboard charts */
.dashboard__chartsTitle {
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
}

.dashboard__charts {
  box-shadow: 2px 2px 10px rgb(208, 208, 208);
  border-radius: 5px;
}

.dashboard__chart {
  padding: 10px;
}

/* customers */
.dashboard__customersTitle {
  font-size: 1.2rem;
  padding-left: 30px;
}

.dashboard__customers {
  padding: 20px;
  box-shadow: 2px 2px 10px rgb(208, 208, 208);
  border-radius: 5px;
}

.dashboard__customerList > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* orders */
.dashboard__orders {
  padding: 20px;
  box-shadow: 2px 2px 10px rgb(208, 208, 208);
  border-radius: 5px;
}

.dashboard__ordersCustomer {
  display: flex;
  align-items: center;
}

.dashboard__ordersName {
  padding: 0 10px;
  text-transform: capitalize;
  font-weight: 800;
}


@media only screen and (min-width:890px){

  .dashboard__records {
   
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  
  }

  .dashboard__recordLabel >p{

    font-size:1.2rem;

  }
  .dashboard__value {
    
    font-size: 1.4rem;
  
  }
  
}