.dashboard {
  display: flex;
  justify-content: center;

}

.dashboard__container {
  width: 100vw;
  max-width: 1050px;
}

.dashboard__wrapper {
  padding: 20px;
  overflow-x: auto;
}

.dashboard__title{
  text-align:start;
}
.dashboard__title > span{
  text-transform:capitalize;
}

.dashboard__records {
  padding: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  row-gap: 20px;
  column-gap: 30px;

  margin-bottom: 30px;
}

.dashboard__record {

  padding:5px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items:space-between;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(208, 208, 208);
}

.dashboard__recordLabel{
  display:flex;
  align-items:center;
  padding-left:1rem;

}

.dashboard__recordLabel >p{
  margin-left:20px;
  font-size:1.4rem;
  font-weight:700;
}

.dashboard__value {
  font-size: 1rem;
  margin-top:0;
  margin-left:2rem;
  padding-left:2.5rem;
  font-size: 1.6rem;

  font-weight: 800;
}



.dashboard__lowerSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  row-gap: 20px;
  column-gap: 20px;
}

/* dashboard charts */
.dashboard__chartsTitle {
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
}

.dashboard__charts {
  box-shadow: 2px 2px 10px rgb(208, 208, 208);
  border-radius: 5px;
}

.dashboard__chart {
  padding: 10px;
}

/* customers */
.dashboard__customers {
  /* padding: 20px; */
  box-shadow: 2px 2px 10px rgb(208, 208, 208);
  border-radius: 5px;
  background:white;

}

.dashboard__customersHeader{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0.8rem 0;

  padding-right:1rem;
}

.dashboard__customersButton{
  background: rgb(252, 143, 35);
  color:white;
  border:none;
  padding:0.2rem;
  width:110px;
  height:45px;
}

.dashboard__customersButton:hover{
  background:rgb(247, 123, 0);
}
.dashboard__customersTitle {
  font-size: 1.2rem;
  padding-left: 30px;
  font-weight:700;
  text-transform:uppercase;
  /* letter-spacing:0.12rem; */
  
}



.dashboard__customerList > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 
}

.dashboard__customersList{
  border-top:2px solid rgb(235, 235, 235);
  display:flex;

}

.dashboard__customersList:hover{
  background:rgb(233, 233, 233);
  cursor:pointer;
}

/* orders */
.dashboard__orders {

  box-shadow: 2px 2px 10px rgb(208, 208, 208);
  border-radius: 5px;
  background:white;
  border:2px solid rgb(248, 248, 248);
}

.dashboard__ordersHeader{
  font-size: 1.2rem;
  padding-left: 30px;
  font-weight:700;
  text-transform:uppercase;
  border-bottom:var(--border-bottom);
  padding:1.5rem;

}



.dashboard__ordersCustomer {
  display: flex;
  align-items: center;

  
}

.dashboard__ordersName {
  padding: 0 10px;
  text-transform: capitalize;
  font-weight: 800;
}


@media only screen and (min-width:890px){

  .dashboard__records {
   
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  
  }

  .dashboard__recordLabel >p{

    font-size:1.2rem;

  }
  .dashboard__value {
  
    text-align:center;
    font-size: 1.4rem;
    margin-left:0;
  
  }
  
}