* {
  box-sizing: border-box;
}
form,h2{
  padding:0;
  margin:0;
}

:root{
  --background-color:rgb(240,240,250);
  --color:rgb(255,131,6);
  --container-title-size: 1.5rem;
  --page-title:1.7rem;
  --border-bottom:2px solid rgb(235, 235, 235);
  ;
}

div {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.app::-webkit-scrollbar {
  display: none;
}

.app__mainbody {
  height: 100vh;

  display: flex;
  flex-direction: column;

  overflow: hidden;
  background:rgb(240,240,250);
}

.app__main {
  margin-top: 10px;
  height: 100vh;
  overflow: scroll;
  width: 100vw;
}

.dashboard__title,
.orders__title,
.addproducts__title,
.cartItems__title,
.productsList__title {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  padding: 10px;
  padding-bottom: 30px;
}

/* table th css */
.css-nc6t7a-MuiTableCell-root,
.css-1h37f49-MuiTableCell-root {
  font-size: 0.9rem !important;
  font-weight: 700 !important;
  border-bottom: none;
}
/* 
.css-xn82ks-MuiTable-root {
  width: 90vw !important;
}

@media screen and (max-width: 480px) {
  .css-xn82ks-MuiTable-root {
    width: 80vw !important;
  }
} */

button {
  padding: 0.5rem;
  width: 120px;
  border-radius: 0.5rem;
  outline-width: 0;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid rgb(216, 216, 216);
  font-weight: 400;
}

.status__processing {
  background: rgba(216, 128, 128, 0.6);
  padding: 7px;
  border-radius: 10px;
  color: red;
  font-weight: 400;
  border: white;
  height: 10px !important;
}

.status__processed {
  background: rgba(110, 153, 110, 0.6);
  border: none;
  padding: 7px;
  color: green;
  border-radius: 10px;
}
