.login__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 10vh;
  padding: 2rem 2rem;
}

.login__container {
  padding: 30px;
  border: 2px solid #bfe5db;
  box-shadow:2px 2px 5px #b5cbc5;

  border-radius: 1.5rem;

  border-style: box;
  width: 60vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.form {
  margin-top: 8rem;
}
.login__title {
  text-align: center;
color:#4cceac;
text-transform:uppercase;
margin-top:1rem;
}

.login__form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.login__form label {
  padding: 0.2rem;
  margin-top:1.2rem;
  /* color: rgb(80, 80, 80); */
  color: #4cceac;
  font-size: 0.8rem;
  text-transform:uppercase;
}

.login__form input:focus {
  outline: none;
}

.login__form input {
  border: none;
  padding: 0.7rem;
  margin-top:0.4rem;
  border-radius: 0.2rem;
  background-color: rgb(238, 238, 238);
}

.login__form > button {
  color: white;
  font-weight:800;
  background: #4cceac;
  padding: 0.7rem;
  margin-top: 1.7rem;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform:uppercase;
}

.login__form > button:hover{
  color:black;
}

.login__form > button:disabled {
  opacity: 0.6;
}

.login__footerText {
  margin-left: 1.2rem;

}

.login__footerText >a {
  color:#4cceac;
}
.errors-feedback {
  font-size: 0.8rem;
  color: white;
  padding: 0.2rem;
}
.errors {
  border: 1px solid red;
}

@media screen and (max-width: 600px) {
  .login__container {
    width: 100%;
  }
}
