.signUp__wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  width: 100vw;
  padding: 2rem 2rem;
  overflow: hidden;
}

.signUp__container {
  border: 1px solid rgb(174, 174, 174);
  border-radius: 0.4rem;
  box-shadow: -5px 10px #e6e6e6;
  border-style: box;
  width: 50vw;
  max-width: 500px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.signUp__title {
  text-align: center;
}

.signUp__form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.signUp__form label {
  padding: 0.2rem;
  color: rgb(80, 80, 80);
  font-size: 0.8rem;
}

.signUp__form input:focus {
  outline: none;
}

.signUp__form input {
  border: none;
  padding: 0.4rem;
  margin: 0.2rem 0;
  border-radius: 0.2rem;
  background-color: rgb(238, 238, 238);
}

.signUp__form button {
  color: white;
  background: rgb(36, 36, 36);
  padding: 0.5rem;
  margin-top: 0.6em;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  outline: none;
  border: none;
}

.signUp__footerText {
  margin-left: 1rem;
}

@media screen and (max-width: 600px) {
  .signUp__container {
    width: 100%;
  }
}
