.signUp__wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  width: 100vw;
  padding: 2rem 2rem;

  overflow:hidden;

}


.signUp__container {
  border: 1px solid rgb(174, 174, 174);
  width: 50vw;
  max-width: 500px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  overflow:hidden;

  box-shadow:2px 2px 5px #b5cbc5;

  border-radius: 1.5rem;
}
.signUp__title {
  text-align: center;
  color: #4cceac;
  text-transform:uppercase;
margin-top:1rem;

}

.signUp__form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.signUp__form label {
  padding: 0.2rem;
  margin-top:1.2rem;
  color: #4cceac;
  font-size:0.8rem;
  text-transform:uppercase;


}

.signUp__form input:focus {
  outline: none;
}

.signUp__form input {
  border: none;
  padding: 0.7rem;
  margin-top:0.4rem;
  border-radius: 0.2rem;
  background-color: rgb(238, 238, 238);
}

.signUp__form button {
  color: white;
  font-weight:800;
  background: #4cceac;
  padding: 0.7rem;
  margin-top: 1.7rem;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  outline: none;
  border: none;
}

.signUp__form > button:hover{
  color:black;
}
.signUp__footerText {
  margin-left: 1rem;
}

.signUp__footerText >a {
  color:#4cceac;
}

@media screen and (max-width: 600px) {
  .signUp__container {
    width: 100%;
  }
}
